{# 更改班级名称页面 #}
{% extends 'base.html' %}

{% block title %}更改班级名称{% endblock %}

{% block content %}
<div class="container">
    <h1>更改班级名称</h1>
    <hr>
    <form method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="new-name">新名称</label>
            <input class="form-control" name="new-name" id="new-name" autocomplete="off" value="{{ class_.name }}" required>
            <div class="invalid-feedback">
                请输入新的班级名称
            </div>
        </div>
        <button type="submit" class="btn btn-primary">更改名称</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    // 表单验证
    (function() {
        window.addEventListener('load', function() {
          // 获取所有页面上需要验证的表单
          var forms = document.getElementsByClassName('needs-validation');
          // 循环遍历并防止它们自动提交
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
</script>
{% endblock %}