{# 网站首页 #}
{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center display-3">智错题 <small style="font-size: 20px;">- 智慧管理你的错题</small></h1>
    <hr>
    <p class="text-center">智错题是一款线上错题本，用于让错题管理更方便，更快捷。<br>初战未捷，那就努力再努力。</p>
    <br><br>
    <div class="row">
        <div class="col col-4 text-center">
            <h5><span class="text-primary fa fa-pie-chart"></span>&nbsp;&nbsp;&nbsp;强大的数据分析</h5>
            <p class="text-muted">每一个错题的背后，都有着许许多多的知识点，易错点。智错题的任务是分析这些错题，并且以图表的方式呈现给用户，方便复习与整理。</p>
            <img src="{{ url_for('static', filename='images/notebook1.png') }}" class="img-fluid">
        </div>
        <div class="col col-4 text-center">
            <h5><span class="text-primary fa fa-bolt"></span>&nbsp;&nbsp;&nbsp;方便的错题管理</h5>
            <p class="text-muted">将错题存放在智错题，以后就再也不用找不着错题啦！这节省了很多寻找错题本的时间。</p>
            <img src="{{ url_for('static', filename='images/notebook2.png') }}" class="img-fluid">
        </div>
        <div class="col col-4 text-center">
            <h5><span class="text-primary fa fa-users"></span>&nbsp;&nbsp;&nbsp;班级查看功能</h5>
            <p class="text-muted">智错题的班级功能是为老师设计的，目的是让老师更清楚地了解学生哪些知识点较为薄弱，节省课上时间。</p>
            <img src="{{ url_for('static', filename='images/notebook3.png') }}" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}